# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db

# Ignorar logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar variables de entorno (¡MUY IMPORTANTE para la seguridad!)
.env
.env.local
.env.*.local

# Ignorar dependencias del Backend
backend/node_modules

# Ignorar carpetas de compilación del Backend
backend/dist

# Ignorar dependencias del Frontend
frontend/node_modules

# Ignorar carpetas de compilación del Frontend
frontend/build